#hatResult {
  display: none;
  text-align: center;
}

#response {
  color: white;
}

.houseQuiz {
  display: none;
}

h4, h5 {
  text-align: center;
}

.jumbotron {
  background-image: url(https://library.creativecow.net/articles/kaufman_debra/Harry-Potter-Cinesite/assets/043_fn_001a_v08.0131_pr-lg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 50px;
  margin-top: 30px;
  color: white;
  text-shadow: 1px 2px black;
  opacity: 0.8;
  filter: alpha(opacity=10);
}

body {
  background-image: url(https://i.imgur.com/EzRbxht.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p, img{
  text-align: center;
}

#button {
    position: right;
    width: 100%;
    max-width: 200px;
}

#button img {
  margin: left;
  width: 190%;
}

#button .btn {
    position: center;
    left: 80%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#button .btn:hover {
    background-color: white;
    color: black;
}

#houseImages {
  text-align: center;
}

#qualities {
  column-count: 4;
  font-weight: bolder;
}













#gcrest {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

#screst {
    width: 100px;
    height: 100px;
    background-color: green;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {background-color: green;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: red;}
}

@keyframes example {
    0%   {background-color: green;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: red;}
}

#hcrest {
    width: 100px;
    height: 100px;
    background-color: yellow;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {background-color: yellow;}
    25%  {background-color: red;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes example {
    0%   {background-color: yellow;}
    25%  {background-color: red;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

#rcrest {
    width: 100px;
    height: 100px;
    background-color: blue;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {background-color: blue;}
    25%  {background-color: yellow;}
    50%  {background-color: red;}
    100% {background-color: green;}
}

@keyframes example {
    0%   {background-color: blue;}
    25%  {background-color: yellow;}
    50%  {background-color: red;}
    100% {background-color: green;}
}
